<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.canefaitrien.spacetrader"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.canefaitrien.spacetrader" />

    <application
        android:name=".SpaceTrader"
        android:allowBackup="true"
        android:icon="@drawable/ship_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="android.test.runner" />

        <activity
            android:name=".LauncherActivity"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMenuActivity"
            android:exported="false"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="com.cainefaitrient.spacetrader.MAINMENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConfigurationActivity"
            android:exported="false"
            android:label="@string/title_activity_config" >
            <intent-filter>
                <action android:name="com.cainefaitrient.spacetrader.CONFIGURATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".DisplayDataActivity" >
        </activity>
        <activity
            android:name=".LoadGameActivity"
            android:exported="false" >
            android:label="@string/title_activity_loadgame" >
            <intent-filter>
                <action android:name="com.cainefaitrient.spacetrader.LOADGAME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainScreenActivity"
            android:exported="false" >
            android:label="@string/title_activity_mainscreen" >
            <intent-filter>
                <action android:name="com.cainefaitrient.spacetrader.MAINSCREEN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InfoActivity"
            android:exported="false" >
            android:label="@string/title_activity_marketplace" >
            <intent-filter>
                <action android:name="com.cainefaitrient.spacetrader.INFO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MarketPlaceActivity"
            android:exported="false" >
            android:label="@string/title_activity_marketplace" >
            <intent-filter>
                <action android:name="com.cainefaitrient.spacetrader.MARKETPLACE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HubActivity"
            android:exported="false" >
            android:label="@string/title_activity_marketplace" >
            <intent-filter>
                <action android:name="com.cainefaitrient.spacetrader.HUB" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GalaxyMapActivity"
            android:exported="false" >
            android:label="@string/title_activity_galaxyview" >
            <intent-filter>
                <action android:name="com.cainefaitrient.spacetrader.GALAXYMAP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>